{% extends 'base.html' %}


{% block title %}

SampaAjuda - Cadastro Grupo de Risco

{% endblock %}




{% block content %}

{% if messages %}

  {% for message in messages %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
  {% endfor %}

{% endif %}
</br>

<script>
function validateForm() {
  var item = document.forms["cadastro_grupo_de_risco"]["item"].value;
  var nome = document.forms["cadastro_grupo_de_risco"]["nome"].value;
  var sobrenome = document.forms["cadastro_grupo_de_risco"]["sobrenome"].value;
  var nro_whatsapp = document.forms["cadastro_grupo_de_risco"]["nro_whatsapp"].value;
  var tipo_logradouro = document.forms["cadastro_grupo_de_risco"]["tipo_logradouro"].value;
  var endereco = document.forms["cadastro_grupo_de_risco"]["endereco"].value;
  var bairro = document.forms["cadastro_grupo_de_risco"]["bairro"].value;
  var estado = document.forms["cadastro_grupo_de_risco"]["estado"].value;
  var cidade = document.forms["cadastro_grupo_de_risco"]["cidade"].value;
  var CEP = document.forms["cadastro_grupo_de_risco"]["CEP"].value;
  var compras_supermercados = document.forms["cadastro_grupo_de_risco"]["compras_supermercados"].value;
  var compras_farmacia = document.forms["cadastro_grupo_de_risco"]["compras_farmacia"].value;
  var passeio_pet = document.forms["cadastro_grupo_de_risco"]["passeio_pet"].value;
  var completed = document.forms["cadastro_grupo_de_risco"]["completed"].checked;


  if (item == "") {
    alert("Primeiro campo precisa ser preenchido: favor informar em qual grupo de risco voce se encaixa");
    return false;
  }


  if (nome == "") {
    alert("Nome precisa ser preenchido");
    return false;
  }

  if (sobrenome == "") {
    alert("Sobrenome precisa ser preenchido");
    return false;
  }

  if (nro_whatsapp == "") {
    alert("Numero do Whatsapp precisa ser preenchido");
    return false;
  }

  if (tipo_logradouro == "") {
    alert("Tipo de logradouro precisa ser preenchido");
    return false;
  }

  if (endereco == "") {
    alert("Logradouro precisa ser preenchido");
    return false;
  }

  if (bairro == "") {
    alert("Bairro precisa ser preenchido");
    return false;
  }

  if (estado == "") {
    alert("Estado precisa ser preenchido");
    return false;
  }

  if (cidade == "") {
    alert("Cidade precisa ser preenchido");
    return false;
  }

  if (CEP == "") {
    alert("CEP precisa ser preenchido");
    return false;
  }

  if (completed == false) {
    alert("Voce deve concordar com termo de adesao antes de se cadastrar");
    return false;
  }

}

</script>

<form class="needs-validation" novalidate="" method ="POST" onsubmit="return validateForm()" name="cadastro_grupo_de_risco">
              {% csrf_token %}
<div class="container">
<div class="row">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Cadastro - Preciso de Ajuda</h4>
           <div class="col-md-0 mb-3">
              <h6>Olá! Antes de colhermos seus dados favor informar em qual grupo de risco você ou a pessoa a quem vai cadastrar se enquadra.
            </h6>
              <select class="custom-select d-block w-100" id="country" required="" name="item">
                <option value="">Selecione...</option>
                <option>Idoso</option>
                <option>Doença Respiratoria</option>
                <option>Diabetes</option>
                <option>Hipertensão</option>
                <option>Pressão Alta</option>
                <option>Doença Autoimune </option>
                <option>Gravidez</option>
                <option>Problema Cardiaco</option>
                <option>Fumante</option>
                <option>Insuficiencia Renal</option>
                <option>Sintoma de Coronavirus</option>
                <option>Mora com alguem com alguma das caracteristicas anteriores</option>
                <option>Outra condição de risco (favor informar)</option>
                <option>Não me enquadro em nenhuma categoria anterior</option>
              </select>
              <div class="invalid-feedback">
                 Escolha uma opcao valida.
              </div>
          </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nome</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="" name="nome">
                <div class="invalid-feedback">
                  Verificar preenchimento.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Sobrenome</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" name="sobrenome">
                <div class="invalid-feedback">
                   Verificar preenchimento.
                </div>
              </div>
            </div>
            <div class="mb-3">
                <label for="firstName">Número do Whatsapp (com DDD)</label>
                <input type="text" class="form-control" id="firstName" placeholder="Exemplo: +55 11 98888-0000" value="" required="" name="nro_whatsapp">
                <small class="text-muted">Usaremos este número para a conexão. Exemplo: +55 11 98888-0000</small>
                <div class="invalid-feedback">
                   Verificar preenchimento.
                </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Opcional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="voce@exemplo.com" name="email">
              <div class="invalid-feedback">
                Verificar preenchimento.
              </div>
            </div>

            <div class="mb-3">
                <label for="firstName">Tipo de Logradouro</label>
                <input type="text" class="form-control" id="firstName" placeholder="Exemplo: Rua, Avenida, ..." value="" required="" name="tipo_logradouro">
                <div class="invalid-feedback">
                Verificar preenchimento.
                </div>
              </div>

            <div class="mb-3">
              <label for="address">Nome do Logradouro</label>
              <input type="text" class="form-control" id="address" placeholder="Exemplo: Faria Lima 3500" required="" name="endereco">
              <div class="invalid-feedback">
                Verificar preenchimento.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Complemento<span class="text-muted">(Opcional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="" name="complemento">
            </div>

            <div class="mb-3">
              <label for="address">Bairro</label>
              <input type="text" class="form-control" id="address" placeholder="Exemplo: Itaim" required="" name="bairro">
              <div class="invalid-feedback">
                Verificar preenchimento.
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="country">Estado</label>
                <select class="custom-select d-block w-100" id="country" required="" name="estado">
                  <option value="">Selcione...</option>
             <option value="">Selecione...</option>
                  <option>São Paulo</option>
                  <option>Acre</option>
                  <option>Alagoas</option>
                  <option>Amapá</option>
                  <option>Amazonas</option>
                  <option>Bahia</option>
                  <option>Ceará</option>
                  <option>Distrito Federal</option>
                  <option>Espírito Santo</option>
                  <option>Goiás</option>
                  <option>Maranhão</option>
                  <option>Mato Grosso</option>
                  <option>Mato Grosso do Sul</option>
                  <option>Minas Gerais</option>
                  <option>Pará</option>
                  <option>Paraíba</option>
                  <option>Paraná</option>
                  <option>Pernambuco</option>
                  <option>Piauí</option>
                  <option>Rio de Janeiro</option>
                  <option>Rio Grande do Norte</option>
                  <option>Rio Grande do Sul</option>
                  <option>Rondônia</option>
                  <option>Roraima</option>
                  <option>Santa Catarina</option>
                  <option>São Paulo</option>
                  <option>Sergipe</option>
                  <option>Tocantins</option>
                </select>
                <div class="invalid-feedback">
                Verificar preenchimento.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="zip">Cidade</label>
                <input type="text" class="form-control" id="zip" placeholder="" required="" name="cidade">
                <div class="invalid-feedback">
                Verificar preenchimento.
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <label for="zip">CEP</label>
                <input type="text" class="form-control" id="zip" placeholder="" required="" name="CEP">
                <div class="invalid-feedback">
                Verificar preenchimento.
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <h5>Indique que tipos de ajuda voce precisa neste momento</h5>
            </br>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address2" name="compras_supermercados">
              <label class="custom-control-label" for="same-address2">Realizar compras no supermercado</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info" name="compras_farmacia">
              <label class="custom-control-label" for="save-info">Realizar compras na farmacia</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info2" name="passeio_pet">
              <label class="custom-control-label" for="save-info2">Passear com animal de estimação</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info3" name="outras_ajudas">
              <label class="custom-control-label" for="save-info3">Outro (informar abaixo) </label>
            </div>
          </br>
            <div class="mb-3">
              <input type="text" class="form-control" id="address" placeholder="" required="" name="outras_ajudas_conteudo">
              <div class="invalid-feedback">
                Verificar preenchimento.
              </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
                <input id="termo_adesao" type="checkbox" class="custom-control-input" required="" name="completed">
                <label class="custom-control-label" for="termo_adesao">Declaro que as informações acima concedidas são verdadeiras, e assumo a inteira responsabilidade pelas mesmas. Aceito compartilhar estas informações com a equipe do SampaAjuda, que vai utiliza-las para realizar a conexão entre usuários, sem compartilha-las com terceiros. Aceito compartilhar meu nome e número de celular com outros usuários da plataforma. Estou ciente que a função do SampaAjuda vai apenas até a conexão de pessoas e que desde então, todas as ações ficam na responsibilidade dos usuários.</label>
              </div>
              <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit">Realizar cadastro</button>
          </form>
        </div>
      </div>
</div>




</br>



</br>

{% endblock %}