{% extends 'base.html' %}


{% block title %}

SampaAjuda - FAQ

{% endblock %}




{% block content %}


<!-- {% if all_items %}
<table class="table table-bordered">
    {% for things in all_items %}
      {% if things.completed %} 
        <tr class=" table-secondary">
          <td><center> {{  things.completed }} </center> </td>
          <td><center> {{  things.nome }} </center> </td>
          <td><center> {{  things.sobrenome }} </center> </td>
          <td><center> {{  things.nro_whatsapp }} </center> </td>
          <td><center> {{  things.endereco }} </center> </td>
        </tr>
      {% else %}
        <tr>
          <td><center> {{  things.completed }} </center> </td>
          <td><center> {{  things.nome }} </center> </td>
          <td><center> {{  things.sobrenome }} </center> </td>
          <td><center> {{  things.nro_whatsapp }} </center> </td>
          <td><center> {{  things.endereco }} </center> </td>
        </tr>
      {% endif %} 
    {% endfor %}
</table>
{% endif %} -->
<!-- 
{% if messages %}

	{% for message in messages %}
		<div class="alert alert-warning" role="alert">
				{{ message }}
		</div>
	{% endfor %}

{% endif %} -->

<div class="container" >

</br>

<h2>1 - Preciso de ajuda, como faço para participar?</h1>
<p>Caso você se encontre no grupo de risco da doença e precisa de ajuda na sua rotina, basta se cadastrar em http://www.sampaajuda.org/preciso_de_ajuda </p>

<h2>2- Quero ajudar, como faço para participar?</h1>
<p>Para ser um voluntário e ajudar alguém, basta se cadastrar em http://www.sampaajuda.org/quero_ajudar/, que nós faremos a conexão entre você e alguém próximo que precisa de ajuda.</p>

<h2>3- Quais são as atividades que os voluntários podem fazer?</h1>
<p>Você pode fazer compras em um supermercado, ir na farmacia, passear com cachorros ou alguma outra necessidade que a sua conexão possa ter. As ajudas devem ser definidas diretamente com a pessoa que está conectada a você</p>

<h2>4- Como será feita a conexão entre as pessoas?</h1>
<p>Após o cadastro, iremos analisar suas informações e ao encontrarmos duas pessoas que estejam próximas geograficamente e com preferencias similares farermos a conexão via Whatsapp para que possam combinar a ajuda.</p>

<h2>5- Para que preciso informar meu número de whatsapp?</h1>
<p>A conexão entre as pessoas será feita via whatsapp para facilitar o contato, por isso é importante informar esse dado corretamente.</p>

<h2>6- Posso ajudar mais de uma pessoa?</h1>
<p>Sim, caso deseje ajudar mais de uma pessoa, basta nos informar através do nosso contato via Whatsapp ou no email contato@sampaajuda.org </p> 

<h2>7- Preciso encerrar a conexão com a pessoa que estou conectada</h1>
<p>Em casos de problema, sempre é possível encerrar a conexão. Basta nos informar através do nosso contato via Whatsapp o encerramento. </p>

</br>

</div>

{% endblock %}