{% extends 'base.html' %}


{% block title %}

Sobre

{% endblock %}




{% block content %}



<div class="container" >

</br>

<h2>1 - Preciso de ajuda, como faço para participar?</h1>
<p>Caso você se encontre no grupo de risco da doença e precisa de ajuda na sua rotina, basta se cadastrar em http://www.sampaajuda.org/cadastro_gr/</p>

<h2>2- Quero ajudar, como faço para participar?</h1>
<p>Para ser um voluntário e ajudar alguém, basta se cadastrar em http://www.sampaajuda.org/cadastro/, que nós faremos a conexão entre você e alguém próximo que precisa de ajuda.</p>

<h2>3- Quais são as atividades que os voluntários podem fazer?</h1>
<p>Você pode fazer comprar em um supermercado, ir na farmacia, passear com cachorros ou alguma outra necessidade que a sua conexão possa ter.</p>

<h2>4- Como será feita a conexão entre as pessoas?</h1>
<p>Após o cadastro, iremos analisar suas informações e ao encontrarmos duas pessoas que estejam próximas geograficamente fazermos a conexão via Whatsapp para que possam combinar a ajuda.</p>

<h2>5- Para que preciso informar meu número de whatsapp?</h1>
<p>A conexão entre as pessoas será feita via whatsapp para facilitar o contato, por isso é importante informar esse dado corretamente.</p>

<h2>6- Posso ajudar mais de uma pessoa?</h1>
<p>Sim, caso deseje ajudar mais de uma pessoa, basta nos informar através do nosso contato via Whatsapp </p> 

<h2>7- Preciso encerrar a conexão com a pessoa que estou conectada</h1>
<p>Em casos de problema, sempre possível encerrar a conexão. Basta nos informar através do nosso contato via Whatsapp </p>

</br>

</div>

{% endblock %}