{% extends 'base.html' %}


{% block title %}

SampaAjuda

{% endblock %}


{% block content %}

<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-3">
            <h1>Quero ajudar</h1>
            <p>Faça a diferença conectando-se com uma pessoa do grupo de risco para ajuda-la com tarefas simples  </p>
            <p><a class="btn btn-secondary" href="{% url 'quero_ajudar' %}" role="button">Cadastre-se »</a></p>
          </div>
          <div class="col-md-4">
            <h1>Preciso de ajuda</h1>
            <p>Se voce é uma pessoa no grupo de risco, conecte-se com uma pessoa que possa ajudar você. </p>
            <p><a class="btn btn-secondary" href="{% url 'preciso_de_ajuda' %}" role="button">Cadastre-se »</a></p>
          </div>


        <hr>

</div>



</br>
{% if messages %}

	{% for message in messages %}
		<div class="alert alert-warning" role="alert">
				{{ message }}
		</div>
	{% endfor %}

{% endif %}
</br>



</div>





{% endblock %}