{% extends 'base.html' %}


{% block title %}

Sobre

{% endblock %}




{% block content %}

<div class="container" >


</br>


<p>O {{ name }} nasceu da iniciativa de um grupo de amigos com o objetivo de ajudar pessoas que estão em uma situação de maior risco nesta crise de COVID-19. Para isso criamos uma plataforma que conecta pessoas que estão com restrição de movimentação por estarem no grupo de risco da doença , como idosos e pessoas com doenças crônicas, com pessoas que estão dispostas a ajuda-las. A partir dessas conexões, nosso objetivo é criar uma rede de suporte e ajuda, onde ninguém ficará sozinho. Todos juntos, sairemos mais fortes deste tempo dificil.</p>



</br>

</br>


</br>


</div>


{% endblock %}